<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Witaj <%= @user.first_name %> <%= @user.last_name %>!</p>
    <p>Dziękujemy za rejestrację w naszej aplikacji. </p> 
    <p>Twoje konto jest już aktywne.</p>
    <p>Twój adres email to <%= @user.email %>.</p>
  </body>
</html>
